.three_col_nav {
    &__card {
        text-align: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 0 3rem;
        &:nth-of-type(1),
        &:nth-of-type(2) {
            border-bottom: 1px solid $grey-200;
            @media (min-width:992px) {
                border-bottom: none;
                border-right: 1px solid $grey-200;
            }
        }
    }
    img {
        max-width: 140px;
        height: auto;
        display: flex;
        margin: 0 auto 1rem;
    }
    &__title {
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 1.563rem;
    }
    &__content {
        margin: 0 auto 2rem auto;
        font-weight: 700;
    }

    select {
        background-color: $orange-400;
        color: white;
        border-radius: 0;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        padding-block: 1rem;
        font-weight: 700;
    }
}