.text--white {
    color: $white;
}
.text--blue {
    color: $blue-400;
}
.text--orange {
    color: $orange-400;
}
.text--grey {
    color: $grey-400;
}
.text--green {
    color: $green-400;
}

.bg--blue-100 {
    background-color: $blue-100;
}
.bg--blue-200 {
    background-color: $blue-200;
}

.bg--grey {
    background-color: $grey-100;
}

.bg--light {
    background-color: white;
}